@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.swiper-container.reviews {
    height: 350px; 
    overflow: hidden;
}

.swiper-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.swiper-slide {
    display: flex;
}

.swiper-pagination-bullet-active {
    background: #1f2a37 !important;
}

.container-general .gallery-wrap .item {
	 flex: 1;
	 height: 100%;
	 background-position: center;
	 background-size: cover;
	 background-repeat: none;
	 transition: all 0.8s ease;
}
 .container-general .gallery-wrap .item:hover {
	 flex: 15;
}

.tile:hover {
    background-color: #fff;
}
.tile:hover .icon {
    background-color: #A7F3D0;
    transform: rotate(6deg);
}

body.hexagons {
  background-image: url('/img/backgrounds/hexagons.svg');
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
}

.drone-move {
    animation: MoveUpDown 5s ease-in-out infinite;
}

@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
}

/* Portfolio Clients */
.eq-technologies .item:first-of-type {
    background-image: url('/img/projects/eq_1.jpg');
}
.eq-technologies .item:nth-of-type(2) {
    background-image: url('/img/projects/eq_2.jpg');
}
.eq-technologies .item:nth-of-type(3) {
    background-image: url('/img/projects/eq_3.jpg');
}
.eq-technologies .item:last-of-type {
    background-image: url('/img/projects/eq_4.jpg');
}

@media (-webkit-min-device-pixel-ratio: 2) { 
    .eq-technologies .item:first-of-type {
        background-image: url('/img/projects/eq_1@2x.jpg');
    }
    .eq-technologies .item:nth-of-type(2) {
        background-image: url('/img/projects/eq_2@2x.jpg');
    }
    .eq-technologies .item:nth-of-type(3) {
        background-image: url('/img/projects/eq_3@2x.jpg');
    }
    .eq-technologies .item:last-of-type {
        background-image: url('/img/projects/eq_4@2x.jpg');
    }
}

.complete-roof-restorations .item:first-of-type {
	 background-image: url('/img/projects/complete_roofing_1.jpg');
}
.complete-roof-restorations .item:nth-of-type(2) {
	 background-image: url('/img/projects/complete_roofing_2.jpg');
}
.complete-roof-restorations .item:nth-of-type(3) {
	 background-image: url('/img/projects/complete_roofing_3.jpg');
}
.complete-roof-restorations .item:last-of-type {
	 background-image: url('/img/projects/complete_roofing_4.jpg');
}

@media (-webkit-min-device-pixel-ratio: 2) { 
    .complete-roof-restorations .item:first-of-type {
        background-image: url('/img/projects/complete_roofing_1@2x.jpg');
    }
    .complete-roof-restorations .item:nth-of-type(2) {
        background-image: url('/img/projects/complete_roofing_2@2x.jpg');
    }
    .complete-roof-restorations .item:nth-of-type(3) {
        background-image: url('/img/projects/complete_roofing_3@2x.jpg');
    }
    .complete-roof-restorations .item:last-of-type {
        background-image: url('/img/projects/complete_roofing_4@2x.jpg');
    }
}

.wollongong-garage-doors .item:first-of-type {
	 background-image: url('/img/projects/wollongong_garage_1.jpg');
}
.wollongong-garage-doors .item:nth-of-type(2) {
	 background-image: url('/img/projects/wollongong_garage_2.jpg');
}
.wollongong-garage-doors .item:nth-of-type(3) {
	 background-image: url('/img/projects/wollongong_garage_3.jpg');
}
.wollongong-garage-doors .item:nth-of-type(4) {
	 background-image: url('/img/projects/wollongong_garage_4.jpg');
}
.wollongong-garage-doors .item:last-of-type {
	 background-image: url('/img/projects/wollongong_garage_5.jpg');
}

@media (-webkit-min-device-pixel-ratio: 2) { 
    .wollongong-garage-doors .item:first-of-type {
        background-image: url('/img/projects/wollongong_garage_1@2x.jpg');
    }
    .wollongong-garage-doors .item:nth-of-type(2) {
        background-image: url('/img/projects/wollongong_garage_2@2x.jpg');
    }
    .wollongong-garage-doors .item:nth-of-type(3) {
        background-image: url('/img/projects/wollongong_garage_3@2x.jpg');
    }
    .wollongong-garage-doors .item:nth-of-type(4) {
        background-image: url('/img/projects/wollongong_garage_4@2x.jpg');
    }
    .wollongong-garage-doors .item:last-of-type {
        background-image: url('/img/projects/wollongong_garage_5@2x.jpg');
    }
}

.inspecteasy .item:first-of-type {
	 background-image: url('/img/projects/inspecteasy_1.jpg');
}
.inspecteasy .item:nth-of-type(2) {
	 background-image: url('/img/projects/inspecteasy_2.jpg');
}
.inspecteasy .item:nth-of-type(3) {
	 background-image: url('/img/projects/inspecteasy_3.jpg');
}
.inspecteasy .item:nth-of-type(4) {
	 background-image: url('/img/projects/inspecteasy_4.jpg');
}
.inspecteasy .item:last-of-type {
	 background-image: url('/img/projects/inspecteasy_5.jpg');
}

@media (-webkit-min-device-pixel-ratio: 2) { 
    .inspecteasy .item:first-of-type {
        background-image: url('/img/projects/inspecteasy_1@2x.jpg');
    }
    .inspecteasy .item:nth-of-type(2) {
        background-image: url('/img/projects/inspecteasy_2@2x.jpg');
    }
    .inspecteasy .item:nth-of-type(3) {
        background-image: url('/img/projects/inspecteasy_3@2x.jpg');
    }
    .inspecteasy .item:nth-of-type(4) {
        background-image: url('/img/projects/inspecteasy_4@2x.jpg');
    }
    .inspecteasy .item:last-of-type {
        background-image: url('/img/projects/inspecteasy_5@2x.jpg');
    }
}

.canoe-the-murray .item:first-of-type {
	 background-image: url('/img/projects/canoe_murray_1.jpg');
}
.canoe-the-murray .item:nth-of-type(2) {
	 background-image: url('/img/projects/canoe_murray_2.jpg');
}
.canoe-the-murray .item:nth-of-type(3) {
	 background-image: url('/img/projects/canoe_murray_3.jpg');
}
.canoe-the-murray .item:last-of-type {
	 background-image: url('/img/projects/canoe_murray_4.jpg');
}

@media (-webkit-min-device-pixel-ratio: 2) { 
    .canoe-the-murray .item:first-of-type {
        background-image: url('/img/projects/canoe_murray_1@2x.jpg');
    }
    .canoe-the-murray .item:nth-of-type(2) {
        background-image: url('/img/projects/canoe_murray_2@2x.jpg');
    }
    .canoe-the-murray .item:nth-of-type(3) {
        background-image: url('/img/projects/canoe_murray_3@2x.jpg');
    }
    .canoe-the-murray .item:last-of-type {
        background-image: url('/img/projects/canoe_murray_4@2x.jpg');
    }
}

.mba-building-inspections .item:first-of-type {
	 background-image: url('/img/projects/mba_1.jpg');
}
.mba-building-inspections .item:nth-of-type(2) {
	 background-image: url('/img/projects/mba_2.jpg');
}
.mba-building-inspections .item:nth-of-type(3) {
	 background-image: url('/img/projects/mba_3.jpg');
}
.mba-building-inspections .item:nth-of-type(4) {
	 background-image: url('/img/projects/mba_4.jpg');
}
.mba-building-inspections .item:last-of-type {
	 background-image: url('/img/projects/mba_5.jpg');
}

@media (-webkit-min-device-pixel-ratio: 2) { 
    .mba-building-inspections .item:first-of-type {
        background-image: url('/img/projects/mba_1@2x.jpg');
    }
    .mba-building-inspections .item:nth-of-type(2) {
        background-image: url('/img/projects/mba_2@2x.jpg');
    }
    .mba-building-inspections .item:nth-of-type(3) {
        background-image: url('/img/projects/mba_3@2x.jpg');
    }
    .mba-building-inspections .item:nth-of-type(4) {
        background-image: url('/img/projects/mba_4@2x.jpg');
    }
    .mba-building-inspections .item:last-of-type {
        background-image: url('/img/projects/mba_5@2x.jpg');
    }
}

.wodonga-carworld .item:first-of-type {
	 background-image: url('/img/projects/carworld_1@2x.jpg');
}
.wodonga-carworld .item:nth-of-type(2) {
	 background-image: url('/img/projects/carworld_2@2x.jpg');
}
.wodonga-carworld .item:last-of-type {
	 background-image: url('/img/projects/carworld_3@2x.jpg');
}

@media (-webkit-min-device-pixel-ratio: 2) { 
    .wodonga-carworld .item:first-of-type {
        background-image: url('/img/projects/carworld_1@2x.jpg');
    }
    .wodonga-carworld .item:nth-of-type(2) {
        background-image: url('/img/projects/carworld_2@2x.jpg');
    }
    .wodonga-carworld .item:last-of-type {
        background-image: url('/img/projects/carworld_3@2x.jpg');
    }
}

.wagga-garage-doors .item:first-of-type {
	 background-image: url('/img/projects/wagga_garage_1@2x.jpg');
}
.wagga-garage-doors .item:nth-of-type(2) {
	 background-image: url('/img/projects/wagga_garage_2@2x.jpg');
}
.wagga-garage-doors .item:nth-of-type(3) {
	 background-image: url('/img/projects/wagga_garage_3@2x.jpg');
}
.wagga-garage-doors .item:last-of-type {
	 background-image: url('/img/projects/wagga_garage_4@2x.jpg');
}

@media (-webkit-min-device-pixel-ratio: 2) { 
    .wagga-garage-doors .item:first-of-type {
        background-image: url('/img/projects/wagga_garage_1@2x.jpg');
    }
    .wagga-garage-doors .item:nth-of-type(2) {
        background-image: url('/img/projects/wagga_garage_2@2x.jpg');
    }
    .wagga-garage-doors .item:nth-of-type(3) {
        background-image: url('/img/projects/wagga_garage_3@2x.jpg');
    }
    .wagga-garage-doors .item:last-of-type {
        background-image: url('/img/projects/wagga_garage_4@2x.jpg');
    }
}

.wholesale-garage-doors .item:first-of-type {
	 background-image: url('/img/projects/wholesale_garage_1@2x.jpg');
}
.wholesale-garage-doors .item:nth-of-type(2) {
	 background-image: url('/img/projects/wholesale_garage_2@2x.jpg');
}
.wholesale-garage-doors .item:nth-of-type(3) {
	 background-image: url('/img/projects/wholesale_garage_3@2x.jpg');
}
.wholesale-garage-doors .item:last-of-type {
	 background-image: url('/img/projects/wholesale_garage_4@2x.jpg');
}

@media (-webkit-min-device-pixel-ratio: 2) { 
    .wholesale-garage-doors .item:first-of-type {
        background-image: url('/img/projects/wholesale_garage_1@2x.jpg');
    }
    .wholesale-garage-doors .item:nth-of-type(2) {
        background-image: url('/img/projects/wholesale_garage_2@2x.jpg');
    }
    .wholesale-garage-doors .item:nth-of-type(3) {
        background-image: url('/img/projects/wholesale_garage_3@2x.jpg');
    }
    .wholesale-garage-doors .item:last-of-type {
        background-image: url('/img/projects/wholesale_garage_4@2x.jpg');
    }
}

.national-garage-remotes-openers .item:first-of-type {
	 background-image: url('/img/projects/ngro_1.jpg');
}
.national-garage-remotes-openers .item:nth-of-type(2) {
	 background-image: url('/img/projects/ngro_2.jpg');
}
.national-garage-remotes-openers .item:nth-of-type(3) {
	 background-image: url('/img/projects/ngro_3.jpg');
}
.national-garage-remotes-openers .item:nth-of-type(4) {
	 background-image: url('/img/projects/ngro_4.jpg');
}
.national-garage-remotes-openers .item:last-of-type {
	 background-image: url('/img/projects/ngro_5.jpg');
}

@media (-webkit-min-device-pixel-ratio: 2) { 
    .national-garage-remotes-openers .item:first-of-type {
        background-image: url('/img/projects/ngro_1@2x.jpg');
    }
    .national-garage-remotes-openers .item:nth-of-type(2) {
        background-image: url('/img/projects/ngro_2@2x.jpg');
    }
    .national-garage-remotes-openers .item:nth-of-type(3) {
        background-image: url('/img/projects/ngro_3@2x.jpg');
    }
    .national-garage-remotes-openers .item:nth-of-type(4) {
        background-image: url('/img/projects/ngro_4@2x.jpg');
    }
    .national-garage-remotes-openers .item:last-of-type {
        background-image: url('/img/projects/ngro_5@2x.jpg');
    }
}

.twin-city-roller-doors .item:first-of-type {
	 background-image: url('/img/projects/tcrd_1.jpg');
}
.twin-city-roller-doors .item:nth-of-type(2) {
	 background-image: url('/img/projects/tcrd_2.jpg');
}
.twin-city-roller-doors .item:last-of-type {
	 background-image: url('/img/projects/tcrd_3.jpg');
}

@media (-webkit-min-device-pixel-ratio: 2) { 
    .twin-city-roller-doors .item:first-of-type {
        background-image: url('/img/projects/tcrd_1@2x.jpg');
    }
    .twin-city-roller-doors .item:nth-of-type(2) {
        background-image: url('/img/projects/tcrd_2@2x.jpg');
    }
    .twin-city-roller-doors .item:last-of-type {
        background-image: url('/img/projects/tcrd_3@2x.jpg');
    }
}

.black-barrel-barbecue .item:first-of-type {
	 background-image: url('/img/projects/black_barrel_1.jpg');
}
.black-barrel-barbecue .item:last-of-type {
	 background-image: url('/img/projects/black_barrel_2.jpg');
}

@media (-webkit-min-device-pixel-ratio: 2) { 
    .black-barrel-barbecue .item:first-of-type {
        background-image: url('/img/projects/black_barrel_1@2x.jpg');
    }
    .black-barrel-barbecue .item:last-of-type {
        background-image: url('/img/projects/black_barrel_2@2x.jpg');
    }
}

.graphic-design .item:first-of-type {
	 background-image: url('/img/projects/ngro_2.jpg');
}
.graphic-design .item:nth-of-type(2) {
	 background-image: url('/img/projects/eq_1.jpg');
}
.graphic-design .item:nth-of-type(3) {
	 background-image: url('/img/projects/tcrd_brochure_2.jpg');
}
.graphic-design .item:nth-of-type(4) {
	 background-image: url('/img/projects/complete_roofing_3.jpg');
}
.graphic-design .item:nth-of-type(5) {
	 background-image: url('/img/projects/tcrd_brochure.jpg');
}
.graphic-design .item:nth-of-type(6) {
	 background-image: url('/img/projects/inspecteasy_5.jpg');
}
.graphic-design .item:last-of-type {
	 background-image: url('/img/projects/wholesale_garage_3.jpg');
}

@media (-webkit-min-device-pixel-ratio: 2) { 
    .graphic-design .item:first-of-type {
        background-image: url('/img/projects/ngro_2@2x.jpg');
    }
    .graphic-design .item:nth-of-type(2) {
        background-image: url('/img/projects/eq_1@2x.jpg');
    }
    .graphic-design .item:nth-of-type(3) {
        background-image: url('/img/projects/tcrd_brochure_2@2x.jpg');
    }
    .graphic-design .item:nth-of-type(4) {
        background-image: url('/img/projects/complete_roofing_3@2x.jpg');
    }
    .graphic-design .item:nth-of-type(5) {
        background-image: url('/img/projects/tcrd_brochure@2x.jpg');
    }
    .graphic-design .item:nth-of-type(6) {
        background-image: url('/img/projects/inspecteasy_5@2x.jpg');
    }
    .graphic-design .item:last-of-type {
        background-image: url('/img/projects/wholesale_garage_3@2x.jpg');
    }
}