<template>

    <div ref="swiper" class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="container-general w-screen lg:w-500 xl:w-[600px]">
                    <div class="gallery-wrap flex flex-row w-full h-[450px]" :class="project">
                        <div v-for="slide in slideCount" class="item"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</template>

<script>
import Swiper from 'swiper';

export default {
    props: ['project', 'slide-count'],

    mounted() {
        new Swiper(this.$refs.swiper, {
            direction: 'vertical',
            mousewheel: {},
            effect: 'cube',
            keyboard: {
                enabled: true,
                onlyInViewport: false
            }
        })
    },
}
</script>