<template>
    <div v-click-outside="onClickOutside" class="ml-4 md:ml-6 lg:ml-10 relative">
        <a href="#" @click.prevent="toggleMenu" aria-label="Menu Button" class="relative flex transition duration-300 items-center p-3 block rounded-md hover:bg-green-300 transition duration-300" :class="[showMenu ? 'rounded-b-none bg-green-300' : 'bg-green-400']">
            <object id="hamburger" ref="hamburger" class="w-4 h-4 pointer-events-none" type="image/svg+xml" data="/img/hamburger.svg" aria-label="Dropdown Menu Icon" ></object>

            <span class="hidden md:block ml-4 font-bold text-green-900 transition duration-300">Services</span>
        </a>

        <div class="absolute right-0 md:-right-36 transition transform scale scale-95 duration-50 opacity-0 w-[93vw] md:w-[720px] xl:w-[920px]" :class="[showMenu ? 'visible opacity-100 scale-100' : 'invisible']">
            <div class="bg-green-300 p-2 rounded-md rounded-tr-none md:rounded-tr-md">

                <div class="block md:grid md:grid-cols-4 md:grid-rows-2 md:gap-2">
                    <a href="/services/website-design">
                        <div class="flex bg-white rounded-md p-1 md:block md:text-center md:p-3 hover:bg-green-50 transition duration-300">
                            <div class="flex items-center p-2 md:flex-col">
                                <img class="w-10 h-10 md:w-20 md:h-20" src="/img/icons/nav/design.svg" alt="Website Design" />
                            </div>
                            <div>
                                <p class="text-sm font-bold">Website Design</p>
                                <p class="text-xs">We build professional, functional websites that complement your brand perfectly!</p>
                            </div>
                        </div>
                    </a>
                    
                    <a href="/services/website-development">
                        <div class="flex bg-white rounded-md p-1 mt-2 md:block md:text-center md:p-3 md:mt-0 hover:bg-green-50 transition duration-300">
                            <div class="flex items-center p-2 md:flex-col">
                                <img class="w-10 h-10 md:w-20 md:h-20" src="/img/icons/nav/development.svg" alt="Website Development" />
                            </div>
                            <div>
                                <p class="text-sm font-bold">Web Development</p>
                                <p class="text-xs">Increase business efficiency with a custom designed application to automate tasks.</p>
                            </div>
                        </div>
                    </a>
                    
                    <a href="/services/mobile-app-development">
                        <div class="flex bg-white rounded-md p-1 mt-2 md:block md:text-center md:p-3 md:mt-0 hover:bg-green-50 transition duration-300">
                            <div class="flex items-center p-2 md:flex-col">
                                <img class="w-10 h-10 md:w-20 md:h-20" src="/img/icons/nav/mobile.svg" alt="Mobile App Development" />
                            </div>
                            <div>
                                <p class="text-sm font-bold">Mobile Development</p>
                                <p class="text-xs">We can build functional mobile apps that work great on both iOS and Android!</p>
                            </div>
                        </div>
                    </a>
                    
                    <a href="/services/ecommerce-online-store-development">
                        <div class="flex bg-white rounded-md p-1 mt-2 md:block md:text-center md:p-3 md:mt-0 hover:bg-green-50 transition duration-300">
                            <div class="flex items-center p-2 md:flex-col">
                                <img class="w-10 h-10 md:w-20 md:h-20" src="/img/icons/nav/store.svg" alt="eCommerce Store Development" />
                            </div>
                            <div>
                                <p class="text-sm font-bold">eCommerce Stores</p>
                                <p class="text-xs">Sell your products online easily, with our custom online stores that aren’t a headache to manage.</p>
                            </div>
                        </div>
                    </a>

                    <a href="/services/graphic-design">
                        <div class="flex bg-white rounded-md p-1 mt-2 md:block md:text-center md:p-3 md:mt-0 hover:bg-green-50 transition duration-300">
                            <div class="flex items-center p-2 md:flex-col">
                                <img class="w-10 h-10 md:w-20 md:h-20" src="/img/icons/nav/graphic.svg" alt="Graphic Design" />
                            </div>
                            <div>
                                <p class="text-sm font-bold">Graphic Design</p>
                                <p class="text-xs">We design modern stylish branding that your customers will come to love and remember.</p>
                            </div>
                        </div>
                    </a>

                    <a href="/services/search-engine-optimisation">
                        <div class="flex bg-white rounded-md p-1 mt-2 md:block md:text-center md:p-3 md:mt-0 hover:bg-green-50 transition duration-300">
                            <div class="flex items-center p-2 md:flex-col">
                                <img class="w-10 h-10 md:w-20 md:h-20" src="/img/icons/nav/seo.svg" alt="Search Engine Optimisation" />
                            </div>
                            <div>
                                <p class="text-sm font-bold">SEO</p>
                                <p class="text-xs">We can optimise your website and advertising to give you a competitive edge in search engines.</p>
                            </div>
                        </div>
                    </a>
                    
                    <a href="/services/website-hosting">
                        <div class="flex bg-white rounded-md p-1 mt-2 md:block md:text-center md:p-3 md:mt-0 hover:bg-green-50 transition duration-300">
                            <div class="flex items-center p-2 md:flex-col">
                                <img class="w-10 h-10 md:w-20 md:h-20" src="/img/icons/nav/hosting.svg" alt="Website Hosting" />
                            </div>
                            <div>
                                <p class="text-sm font-bold">Website Hosting</p>
                                <p class="text-xs">Affordable and reliable website hosting managed by us. We’re a complete one-stop shop.</p>
                            </div>
                        </div>
                    </a>
                    
                    <!-- <a href="/services/drone-aerial-photography"> -->
                        
                        <div class="relative flex bg-white overflow-hidden rounded-md p-1 mt-2 md:block md:text-center md:p-3 md:mt-0">
                            <div class="absolute px-8 py-1 bg-red-500 text-white text-sm font-bold rotate-45 transform top-[6px] right-[-30px]">Soon!</div>
                            <div class="flex items-center p-2 md:flex-col">
                                <img class="w-10 h-10 md:w-20 md:h-20" src="/img/icons/nav/drone.svg" alt="Aerial Photography" />
                            </div>
                            <div>
                                <p class="text-sm font-bold">Aerial Photography</p>
                                <p class="text-xs">We'll help you get the perfect aerial shots. We're your local CASA certified drone operators.</p>
                            </div>
                        </div>
                    <!-- </a> -->
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    import vClickOutside from 'click-outside-vue3'

    export default {
        directives: {
            clickOutside: vClickOutside.directive
        },

        data() {
            return {
                showMenu: false,
            }
        },

        methods: {
            toggleMenu() {
                let a = document.getElementById("hamburger")
                let b = b = a.contentDocument
                let c = b.getElementById("escyetd6sr51")
                c.dispatchEvent(new Event('click'));

                this.showMenu = !this.showMenu
            },

            onClickOutside (event) {
                if(this.showMenu) {
                    let a = document.getElementById("hamburger")
                    let b = b = a.contentDocument
                    let c = b.getElementById("escyetd6sr51")
                    c.dispatchEvent(new Event('click'));

                    this.showMenu = false   
                }
            },
        }
    };
</script>
