<template>
    <div class="font-bold flex justify-center mt-10">
        <div class="relative bg-green-100 rounded-full px-2 py-4 z-0 w-[240px] flex items-center justify-center">
            <div class="absolute z-10 top-1 left-1 bg-green-300 w-[120px] h-12 rounded-full transition duration-300 transform" :class="[showYearly ? 'translate-x-[112px]' : 'translate-x-0']"></div>
            <a href="#" @click.prevent="showYearly = false" class="block text-center relative z-20 rounded-full transition duration-300 w-[120px] justify-center" :class="[ !showYearly ? 'text-green-900' : 'text-green-600']">Monthly</a>
            <a href="#" @click.prevent="showYearly = true" class="block text-center relative z-20 rounded-full transition duration-300 w-[120px] justify-center" :class="[ showYearly ? 'text-green-900' : 'text-green-600']">Yearly</a>
        </div>
    </div>

    <div class="mt-10 p-4 space-y-4 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-8 2xl:px-48 ">
        <div class="border border-4 bg-gray-50 border-green-100 rounded-md h-full flex flex-col justify-between transition duration-300 hover:bg-white transform hover:scale-105">
            <div class="px-4 py-8 text-center flex items-center flex-col lg:px-4 lg:py-8">
                <img class="w-24" src="/img/icons/hosting-ember.svg" alt="Ember Hosting Plan" />
                <h3 class="mt-6 font-varela text-gray-900 text-3xl">Ember</h3>
                <p class="mt-2 text-gray-600 text-justify">Our Ember plan is the perfect starting point for a new business, with sufficient power at an affordable price to get you started.</p>
                <ul class="mt-6 text-gray-900 font-varela space-y-4">
                    <li class="flex">
                        <img class="w-6 h-6" src="/img/icons/server-storage.svg" alt="Storage" />
                        <span class="ml-2">25GB SSD Storage</span>
                    </li>
                    <li class="flex">
                        <img class="w-6 h-6" src="/img/icons/server-cpu.svg" alt="CPU's" />
                        <span class="ml-2">1 CPU</span>
                    </li>
                    <li class="flex">
                        <img class="w-6 h-6" src="/img/icons/server-memory.svg" alt="Memory" />
                        <span class="ml-2">1GB Memory</span>
                    </li>
                    <li class="flex">
                        <img class="w-6 h-6" src="/img/icons/server-bandwidth.svg" alt="Bandwidth" />
                        <span class="ml-2">1TB Bandwidth</span>
                    </li>
                </ul>
            </div>
            <div class="p-4 mt-auto font-varela text-3xl text-green-800 text-center bg-green-100">${{ setPlanPrice(14) }}<span class="text-xl text-green-700">/mo</span></div>
        </div>
        <div class="relative border border-4 bg-gray-50 border-green-100 rounded-md h-full flex flex-col justify-between overflow-hidden transition duration-300 hover:bg-white transform hover:scale-105">
            <div class="absolute top-3 -left-8 bg-green-100 font-black px-10 py-1 transform -rotate-45 text-green-800">HOT!</div>
            <div class="px-4 py-8 text-center flex items-center flex-col lg:px-4 lg:py-8">
                <img class="w-24" src="/img/icons/hosting-flame.svg" alt="Flame Hosting Plan" />
                <h3 class="mt-6 font-varela text-gray-900 text-3xl">Flame</h3>
                <p class="mt-2 text-gray-600 text-justify">The next step up from our starter plan is the FireBulb flame plan, which offers the perfect size for both power and budget.</p>
                <ul class="mt-6 text-gray-900 font-varela space-y-4">
                    <li class="flex">
                        <img class="w-6 h-6" src="/img/icons/server-storage.svg" alt="Storage" />
                        <span class="ml-2">55GB SSD Storage</span>
                    </li>
                    <li class="flex">
                        <img class="w-6 h-6" src="/img/icons/server-cpu.svg" alt="CPU's" />
                        <span class="ml-2">1 CPU</span>
                    </li>
                    <li class="flex">
                        <img class="w-6 h-6" src="/img/icons/server-memory.svg" alt="Memory" />
                        <span class="ml-2">2GB Memory</span>
                    </li>
                    <li class="flex">
                        <img class="w-6 h-6" src="/img/icons/server-bandwidth.svg" alt="Bandwidth" />
                        <span class="ml-2">2TB Bandwidth</span>
                    </li>
                </ul>
            </div>
            <div class="p-4 font-varela text-3xl text-green-800 text-center bg-green-100">${{ setPlanPrice(28) }}<span class="text-xl text-green-700">/mo</span></div>
        </div>
        <div class="border border-4 bg-gray-50 border-green-100 rounded-md h-full flex flex-col justify-between transition duration-300 hover:bg-white transform hover:scale-105">
            <div class="px-4 py-8 text-center flex items-center flex-col lg:px-4 lg:py-8">
                <img class="w-24" src="/img/icons/hosting-inferno.svg" alt="Inferno Hosting Plan" />
                <h3 class="mt-6 font-varela text-gray-900 text-3xl">Inferno</h3>
                <p class="mt-2 text-gray-600 text-justify">Take your hosting to the next level with Inferno, our all-out hosting package that offers extreme performance.</p>
                <ul class="mt-6 text-gray-900 font-varela space-y-4">
                    <li class="flex">
                        <img class="w-6 h-6" src="/img/icons/server-storage.svg" alt="Storage" />
                        <span class="ml-2">80GB SSD Storage</span>
                    </li>
                    <li class="flex">
                        <img class="w-6 h-6" src="/img/icons/server-cpu.svg" alt="CPU's" />
                        <span class="ml-2">2 CPU's</span>
                    </li>
                    <li class="flex">
                        <img class="w-6 h-6" src="/img/icons/server-memory.svg" alt="Memory" />
                        <span class="ml-2">4GB Memory</span>
                    </li>
                    <li class="flex">
                        <img class="w-6 h-6" src="/img/icons/server-bandwidth.svg" alt="Bandwidth" />
                        <span class="ml-2">3TB Bandwidth</span>
                    </li>
                </ul>
            </div>
            <div class="p-4 font-varela text-3xl text-green-800 text-center bg-green-100">${{ setPlanPrice(54) }}<span class="text-xl text-green-700">/mo</span></div>
        </div>

        <div class="px-4 py-8 bg-gray-50 border border-4 border-gray-100 col-span-3 rounded-lg flex items-center flex-col lg:flex-row lg:px-8 lg:py-8 transition duration-300 hover:bg-white transform hover:scale-105">
            <div class="flex-shrink-0">
                <img class="w-24" src="/img/icons/hosting-enterprise.svg" alt="Enterprise Hosting Plan" />
            </div>
            <div class="lg:px-10">
                <h3 class="mt-6 text-center font-varela text-gray-900 text-3xl lg:text-left lg:mt-0">Enterprise</h3>
                <p class="mt-6 text-gray-600 text-justify lg:mt-2">If you need a tailor made solution that involves more advanced delivery, such as server load balancing or even more power than the above plans provide, get in touch and we’ll provide a quote on a more specialised solution.</p>
            </div>
            <div class="mt-6 w-full lg:w-80 lg:mt-0">
                <a href="#" class="block p-3 rounded-md bg-gray-800 text-center font-varela text-white text-sm hover:bg-gray-700">Get In Touch</a>
            </div>
        </div>

    </div>
</template>

<script>
    export default {

        data() {
            return {
                showYearly: true,
            }
        },

        methods: {
            setPlanPrice(price) {
                if(this.showYearly) {
                    let discount = (price * 12) * 0.1
                    let val = ((price * 12) - discount) / 12

                    return Math.floor(val)
                }

                return price
            }  
        },

        mounted() {
            //
        },

    }
</script>