<template>
    <div class="relative xl:left-[-150px]">
        <div ref="reviews" class="swiper-container reviews w-full md:w-[550px] xl:w-[650px]">
            <div class="swiper-wrapper">

                <div class="swiper-slide flex">
                    <div class="hidden flex-shrink-0 md:block items-center">
                        <img class="w-32 h-32" src="/img/clients/laura.png" srcset="/img/clients/laura@2x.png 2x" alt="Laura - Twin City Roller Doors">
                    </div>

                    <div class="ml-6">
                        <div class="mt-4 text-gray-600">
                            <p>Excellent Knowledge and Service with Firebulb. I would highly recommend Tylor for all your development needs. With a high technical aptitude and skill for current website needs Tylor has been a great help to us over the course of many years now. Certainly an expert in his fields and a great person to work with.</p>
                        </div>

                        <div class="mt-4 flex items-center">
                            <img class="w-16 h-16 md:hidden" src="/img/clients/laura.png" srcset="/img/clients/laura@2x.png 2x" alt="Laura - Twin City Roller Doors">
                            <div class="ml-3 md:ml-0">
                                <h3 class="font-bold text-gray-800">Laura</h3>
                                <p class="italic text-gray-500">Twin City Roller Doors</p>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="swiper-slide flex">
                    <div class="hidden flex-shrink-0 md:block items-center">
                        <img class="w-32 h-32" src="/img/clients/steve.png" srcset="/img/clients/steve@2x.png 2x" alt="Steve - Wollongong Garage Doors">
                    </div>

                    <div class="ml-6">
                        <div class="mt-4 text-gray-600">
                            <p>Tylor from FireBulb, has recently developed our web site. He has delivered us a first class site with service second to none. He has helped us with a range of services, that we needed to get right the first time, as we launch our New business. We have no hesitation in recommending FireBulb Media to anyone seeking his expertise with Web site development or any of the other services he offers.</p>
                        </div>

                        <div class="mt-4 flex items-center">
                            <img class="w-16 h-16 md:hidden" src="/img/clients/steve.png" srcset="/img/clients/steve@2x.png 2x" alt="Steve - Wollongong Garage Doors">
                            <div class="ml-3 md:ml-0">
                                <h3 class="font-bold text-gray-800">Steve</h3>
                                <p class="italic text-gray-500">Wollongong Garage Doors</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide flex">
                    <div class="hidden flex-shrink-0 md:block items-center">
                        <img class="w-32 h-32" src="/img/clients/flo.png" srcset="/img/clients/flo@2x.png 2x" alt="Flo - Complete Roof Restorations &amp; Skylights">
                    </div>

                    <div class="ml-6">
                        <div class="mt-4 text-gray-600">
                            <p>We are so pleased with the professionalism and quality of our website. Nothing was any trouble and the ideas given to us in producing our site was amazing. I would not hesitate to recommend Firebulb Media</p>
                        </div>

                        <div class="mt-4 flex items-center">
                            <img class="w-16 h-16 md:hidden" src="/img/clients/flo.png" srcset="/img/clients/flo@2x.png 2x" alt="Flo - Complete Roof Restorations &amp; Skylights">
                            <div class="ml-3 md:ml-0">
                                <h3 class="font-bold text-gray-800">Flo</h3>
                                <p class="italic text-gray-500">Complete Roof Restorations &amp; Skylights</p>
                            </div>
                        </div>
                    </div>
                </div>

                

                <div class="swiper-slide flex">
                    <div class="hidden flex-shrink-0 md:block items-center">
                        <img class="w-32 h-32" src="/img/clients/amy.png" srcset="/img/clients/amy@2x.png 2x" alt="Amy - Black Barrel Barbecue">
                    </div>

                    <div class="ml-6">
                        <div class="mt-4 text-gray-600">
                            <p>We used Tylor at Firebulb to design our website, From first point of contact he was professional and most of all dedicated to website and making sure what got what we wanted. He gave us some great tips, and produced a website we were super happy with. No fuss, and really easy to deal with.</p>
                        </div>

                        <div class="mt-4 flex items-center">
                            <img class="w-16 h-16 md:hidden" src="/img/clients/amy.png" srcset="/img/clients/amy@2x.png 2x" alt="Amy - Black Barrel Barbecue">
                            <div class="ml-3 md:ml-0">
                                <h3 class="font-bold text-gray-800">Amy</h3>
                                <p class="italic text-gray-500">Black Barrel Barbecue</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide flex">
                    <div class="hidden flex-shrink-0 md:block items-center">
                        <img class="w-32 h-32" src="/img/clients/stuart.png" srcset="/img/clients/stuart@2x.png 2x" alt="Stuart - National Garage">
                    </div>

                    <div class="ml-6">
                        <div class="mt-4 text-gray-600">
                            <p>Tylor has developed three of our websites and we will continue to have Tylor as our website developer. Always delivers what we want and most importantly on-time. Having used other developers I would not go anywhere else.</p>
                        </div>

                        <div class="mt-4 flex items-center">
                            <img class="w-16 h-16 md:hidden" src="/img/clients/stuart.png" srcset="/img/clients/stuart@2x.png 2x" alt="Stuart - National Garage">
                            <div class="ml-3 md:ml-0">
                                <h3 class="font-bold text-gray-800">Stuart</h3>
                                <p class="italic text-gray-500">National Garage</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide flex">
                    <div class="hidden flex-shrink-0 md:block items-center">
                        <img class="w-32 h-32" src="/img/clients/brian.png" srcset="/img/clients/brian@2x.png 2x" alt="Brian - Wodonga Carworld">
                    </div>

                    <div class="ml-6">
                        <div class="mt-4 text-gray-600">
                            <p>Tylor has worked diligently is creating and establishing a new website for our company. Despite our very poor understanding and ignorance of what we needed and our lack of understanding the technology, Tylor persisted and guided us thru the exercise in order that we could achieve our desired result. Tylor has continued to make adjustments as required and is always accessible and willing to help.</p>
                        </div>

                        <div class="mt-4 flex items-center">
                            <img class="w-16 h-16 md:hidden" src="/img/clients/brian.png" srcset="/img/clients/brian@2x.png 2x" alt="Brian - Wodonga Carworld">
                            <div class="ml-3 md:ml-0">
                                <h3 class="font-bold text-gray-800">Brian</h3>
                                <p class="italic text-gray-500">Wodonga Carworld</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            
            <!-- Add Pagination -->
            <div ref="pagination" class="swiper-pagination"></div>
        </div>
    </div>
</template>

<script>
import Swiper from 'swiper/bundle';
import 'swiper/swiper-bundle.css';

export default {
    mounted() {
        new Swiper(this.$refs.reviews, {
            slidesPerView: 1,
            direction: 'horizontal',
            loop: true,
            autoplay: {
                delay: 10000,
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
                dynamicBullets: true,
            },
        })
    },
}
</script>